.education {
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: inset 0 0 0 200vw rgba($darkblue,.45);

    &__box {
        color: $white;
        padding: 20px 0;
        position: relative;

        &:after {
            content: '';
            background: rgba(255, 255, 255, .2);
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: 0;
        }

        &:last-child {
            padding-bottom: 0;
            
            &:after {
                content: none;
            }
        }

        &-title {
            font-size: 18px;
            font-weight: 700;
            color: rgba(255, 255, 255, 0.9);
        }

        &-date {
            color: rgba(255, 255, 255, 0.7);
        }
    }
}